* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
    color: #02133C;
}

p {
    color: #4B4B4B !important;
    letter-spacing: 0.15px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900!important;
}
ul,li{
    list-style: none;
    padding: 0px;
}

a.btn-primary {
    background: #C40B0B;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 2px;
    border: none;
    padding: 10px 15px;
}

a.btn-primary:hover {
    background: #ac0a0a;
}

section span.small-head:before {
    content: url(../img/arrows.svg);
    top: 4px;
    position: relative;
    margin-right: 10px;
}

section span.small-head {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #4B4B4B;
    margin-bottom: 20px;
}

/***** HEADER *****/

header nav a {
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #02133C!important;
}

header .btn-primary {
    background: #C40B0B;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF!important;
    border-radius: 2px;
    border: none;
    padding: 10px 20px!important;
    margin-right: 10px;
}

header .btn-primary:hover {
    background: #ac0a0a;
}

header .btn-outline-primary {
    background: none;
    border: 1px solid #262626;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #262626;
    border-radius: 2px;
    padding: 10px 20px!important;
}

header .btn-outline-primary:hover {
    background: #262626;
    border: 1px solid #262626;
    color: #FFFFFF!important;
}

header .dropdown-toggle::after {
    color: #c40b0e;
}
header a.dropdown-item {
    width: 200px;
}

header a.dropdown-item:hover {
    color: #c40b0e!important;
}
header .dropdown-item.active, .dropdown-item:active {
    background-color: #14274b1f!important;
}

/***** END OF THE HEADER *****/

/***** SLIDER *****/

section.slider .jumbotron {
    background: url(../img/banner.png) no-repeat;
    height: 720px;
    margin-bottom: 0px;
    background-size: cover;
}

section.slider .jumbotron .jumbotron-area {
    margin-top: 10%;
}

section.slider .jumbotron .jumbotron-area h2 {
    color: #fff;
    font-size: 56px;
    width: 50%;
    font-weight: 900;
}

section.slider .jumbotron .jumbotron-area .btn {
    font-weight: 500;
    margin-top: 5%;
}

/***** END OF THE SLIDER *****/

/***** INFO BOXES *****/
section.info {
    padding: 100px 0px;
}

section.info p {
    font-size: 16px;
    line-height: 24px;
    color: #4B4B4B;
}

section.info .info-box {
    display: flex;
    overflow: hidden;

}

section.info .info-box img {
    float: left;
}

section.info .info-box .info-text {
    margin-left: 20px;
}

section.info .info-box .info-text .info-heading {
    font-size: 19px;
    line-height: 26px;
    color: #02133C;
    margin-bottom: 10px;
}

section.info .info-box .info-text p {
    font-weight: normal;
    font-size: 16px;
}

/***** END OF INFO BOXES *****/

/***** VIDEO AREA *****/

section.video .jumbotron {
    background: url(../img/bg-video.png) no-repeat;
    height: 500px;
    margin-bottom: 0px;
    background-size: cover;
}

section.video .jumbotron h2 {
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    width: 80%;
}

/***** END OF THE VIDEO AREA *****/

/***** SERVICES *****/

section.services {
    background: url("../img/bg-gear.png") no-repeat center center;
    padding: 100px 0px;
}

section.services .service-box {
    text-align: center;
    margin-top: 100px;
    padding: 0px 60px;
}

section.services .service-img {
    margin-bottom: 40px;
}

section.services .service-heading {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 19px;
}

section.services a h4{
    color: #02133C;
}

section.services a.btn {
    margin-top: 100px;
}

/***** END OF SERVICES *****/

/***** IMPACT *****/

section.impact {
    background: url("../img/bg-impact.png") no-repeat;
    padding: 100px 100px 250px 100px;
    background-size: cover;
}
section.impact h2{
    color: #FFFFFF;
    width: 33%;
}
section.impact span.small-head{
    color: #FFFFFF;
}
section.impact .impact-box{
    display: flex;
}
section.impact .impact-box h2{
    color: #C40B0B;
}
section.impact .impact-box span{
    color: #ffffff;
}
section.impact .impact-box .impact-text{
    margin-top: 5px;
    margin-left: 10px;
}

/***** END OF IMPACT *****/

/***** FOOTER *****/

footer{
    padding: 100px 0px 0px 0px;
    background: #F5F5F5;
}
footer p{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
}
footer .footer-logo{
    margin-bottom: 20px;
}
footer .footer-social-media ul li{
    float: left;
}
footer .footer-social-media ul li a{
    color: #C40B0B;
    font-size:25px;
    margin-right: 20px;
}
footer .footer-social-media ul li a:hover{
    color: #C40B0B;
}
footer .footer-links h4{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    font-weight: 500!important;
}
footer .footer-links ul.non-head-list{
    margin-top: 50px;
}
footer .footer-links ul li {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
}
footer .footer-links ul li i{
    margin-top: 3px;
    margin-right: 10px;
    font-size: 19px;
    color: #C40B0B;
}
footer .footer-links ul li i.fa-mobile{
    font-size: 25px;
}
footer .footer-links ul li a{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #4B4B4B;
    margin-bottom: 10px;
    font-weight: 500;
}
footer .footer-bottom{
    background: #02133C;
    height: 60px;
    margin-top: 100px;
}
footer .footer-bottom span{
    line-height: 60px;
    color: #959595;
    font-size: 12px;
}
footer .appointment {
    background: #fff;
    padding: 35px 50px;
    line-height: 50px;
    margin-top: -185px;
    margin-bottom: 100px;
}

/***** END OF FOOTER *****/


/***** RESPONSIVE *****/

@media only screen and (max-width: 600px) {
    header .navbar-brand img {
        right: 15px;
        position: relative;
    }
    header .btn-outline-primary {
        margin-right: 0px;
        margin-top: 10px;
    }
    header .btn-primary {
        margin-right: 0px;
    }
    header .navbar-light .navbar-toggler-icon {
        background-image: url('../img/toggle.svg');
        border: none;
    }
    header .navbar-light .navbar-toggler {
        border: none;
        padding-left: 0px;
        font-size: 12px;
    }
    header nav a {
        font-size: 20px;
    }
    header nav .dropdown-menu {
        border:none;
    }
    header nav .btn {
        font-size: 15px;
    }
    header nav .navbar-brand {
        margin: 0 auto;
    }
    section.slider .jumbotron {
        background: url(../img/banner.png);
        height: 250px;
        margin-bottom: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0px;
    }
    section.slider .jumbotron .jumbotron-area {
        margin-top: 0px;
    }
    section.slider .jumbotron .jumbotron-area h2 {
        font-size: 28px;
        width: 100%;;
    }
    section.info {
        padding: 25px 0px;
    }
    section.info .info-box {
        display: grid;
    }
    section.info .info-box .info-text {
        margin-left: 0px;
    }
    section.info .info-box .info-img {
        margin-bottom: 15px;
    }
    section.info .info-box .info-text p {
        margin-bottom: 50px;
    }
    section.video .jumbotron {
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0px;
    }
    section.video .jumbotron h2 {
        font-size: 28px;
        line-height: 42px;
        color: #FFFFFF;
        width: 100%;
    }
    section.video .jumbotron img {
        width: 62px;
    }
    section.services {
        padding: 50px 0px;
    }
    section.services .service-box {
        text-align: left;
        margin-top: 50px;
        padding: 0px 00px;
    }
    section.services a.btn {
        margin-top: 50px;
    }
    section.impact {
        background: url(../img/bg-impact.png) no-repeat;
        height: 760px;
        padding: 50px 0px 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        border-radius: 0px;
    }
    section.impact h2 {
        color: #FFFFFF;
        width: 100%;
        font-size: 28px;
        line-height: 42px;
    }
    section.impact .impact-box {
        display: flex;
        margin-top: 50px;
    }
    footer {
        padding: 50px 0px 0px 0px;
    }
    footer .appointment {
        background: none;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    footer .appointment h2{
        font-size:24px;
        line-height: 30px;
    }
    footer .footer-links{
        margin-top: 50px;
    }
    footer .footer-bottom span {
        line-height: 20px;
        color: #959595;
        font-size: 12px;
        margin-top: 10px;
    }
    footer .footer-bottom {
        background: #02133C;
        height: 60px;
        margin-top: 50px;
        padding: 0px 20px;
    }
}

@media only screen and (min-width: 600px) {

    header .dropdown:hover .dropdown-menu{
        display: block;
        transition: .5s!important;;
    }
}


/***** END OF RESPONSIVE *****/